* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #000000;
  position: relative;
  width: 100%;
  height: 100vh;
}

.card {
  min-width: 41.2rem;
  min-height: 41.6rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 3rem;
  position: absolute;
  margin-top: 19.5rem;
  margin-left: 51.4rem;
  padding: 3.2rem 4rem 3.2rem 3.2rem;
}

.card__star {
  height: 4.8rem;
  width: 4.8rem;
  background-color: rgba(38, 46, 56, 1);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__title {
  /* Heading (Large) */

  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.5rem;

  /* Pure White */

  color: #ffffff;
  /* margin: 3.0rem .0rem 1.5rem .0rem; */
  display: inline-block;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.card__desc {
  /* Body */

  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  /* or 160% */

  /* Light Grey */

  color: #969fad;
  margin-bottom: 2.4rem;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.rating__num {
  background: #262e38;
  color: rgba(124, 135, 152, 1);
  border-radius: 5rem;
  /* Rating */

  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.2rem;

  /* Medium Gray */

  color: #7c8798;
  /* padding: 1.3rem 2.1rem 1.4rem 2.2rem; */
  width: 5.1rem;
  height: 5.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating__num:hover {
  background: rgba(252, 118, 20, 1);
  color: white;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.btn {
  background: #fc7614;
  border-radius: 22.5rem;
  color: rgba(255, 255, 255, 1);

  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.9rem;
  /* identical to box height */

  letter-spacing: 0.2rem;

  text-align: center;
  padding: 1.3rem 13.7rem 1.3rem 13.7rem;
  transition: 0.25s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.btn:hover {
  color: #fc7614;
  background-color: white;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.active {
  background-color: #fc7614;
  color: white;
}

@keyframes cardOut {
  100% {
    scale: 0;
    opacity: 0;
  }
}

@keyframes cardIn {
  0% {
    scale: 0;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

/* THANK YOU */

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--thankyou {
  padding-top: 4.5rem;
  text-align: center;
  /* display: none; */
  opacity: 0;
  z-index: -1;
}

.rating__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating--results {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  /* identical to box height, or 160% */

  text-align: center;

  /* Orange */

  color: #fc7614;
  margin: 3.2rem 0rem;

  background: #262e38;
  border-radius: 22.5rem;
  width: 19.3rem;
  height: 3.2rem;
}

.card__title--thankyou {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.5rem;
  margin: 0;
  display: inline-block;
  color: white;
}

.card__desc--thankyou {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 1.5rem;
}


.attribution {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    color: white;
    transform: translateX(-50%);
}
